In [141]:
import os
import urllib
import pandas as pd
import numpy as np

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/pcm-dpc/COVID-19"
COVID_PATH = os.path.join("datasets", "covid")
COVID_REGIONI_URL = DOWNLOAD_ROOT + "/master/dati-regioni/dpc-covid19-ita-regioni.csv"
COVID_PROVINCE_URL = DOWNLOAD_ROOT + "/master/dati-province/dpc-covid19-ita-province.csv"

def fetch_dati_regione(regioni_url=COVID_REGIONI_URL, regioni_path=COVID_PATH):
    os.makedirs(regioni_path, exist_ok=True)
    path=os.path.join(regioni_path, "regioni.csv")
    urllib.request.urlretrieve(regioni_url, path)
    
def load_dati_regione(regioni_path=COVID_PATH):
    csv_path=os.path.join(regioni_path, "regioni.csv")
    return pd.read_csv(csv_path)

def fetch_dati_provincia(province_url=COVID_PROVINCE_URL, province_path=COVID_PATH):
    os.makedirs(province_path, exist_ok=True)
    path=os.path.join(province_path, "province.csv")
    urllib.request.urlretrieve(province_url, path)
    
def load_dati_provincia(province_path=COVID_PATH):
    csv_path=os.path.join(province_path, "province.csv")
    return pd.read_csv(csv_path)

In [142]:
fetch_dati_regione()
regioni=load_dati_regione()
regioni.head()

,data,stato,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_attualmente_positivi,nuovi_attualmente_positivi,dimessi_guariti,deceduti,totale_casi,tamponi
0,2020-02-24 18:00:00,ITA,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,5
1,2020-02-24 18:00:00,ITA,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0
2,2020-02-24 18:00:00,ITA,4,P.A. Bolzano,46.499335,11.356624,0,0,0,0,0,0,0,0,0,1
3,2020-02-24 18:00:00,ITA,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,1
4,2020-02-24 18:00:00,ITA,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,10

In [143]:
fetch_dati_provincia()
province=load_dati_provincia()
province.head()

,data,stato,codice_regione,denominazione_regione,codice_provincia,denominazione_provincia,sigla_provincia,lat,long,totale_casi
0,2020-02-24 18:00:00,ITA,13,Abruzzo,69,Chieti,CH,42.351032,14.167546,0
1,2020-02-24 18:00:00,ITA,13,Abruzzo,66,L'Aquila,AQ,42.351222,13.398438,0
2,2020-02-24 18:00:00,ITA,13,Abruzzo,68,Pescara,PE,42.464584,14.213648,0
3,2020-02-24 18:00:00,ITA,13,Abruzzo,67,Teramo,TE,42.658918,13.704400,0
4,2020-02-24 18:00:00,ITA,13,Abruzzo,979,In fase di definizione/aggiornamento,NaN,0.000000,0.000000,0

In [144]:
regioni.shape

(588, 16)

In [145]:
regioni.describe()

,codice_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_attualmente_positivi,nuovi_attualmente_positivi,dimessi_guariti,deceduti,totale_casi,tamponi
count,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000,588.000000
mean,10.190476,43.046293,12.225955,289.806122,48.772109,338.579932,276.840136,615.418367,79.316327,76.722789,58.064626,750.205782,3858.069728
std,5.799998,2.490900,2.661212,988.666023,135.735296,1122.451889,790.734604,1871.041502,201.632271,464.180085,283.325697,2581.655716,9087.057712
min,1.000000,38.115697,7.320149,0.000000,0.000000,0.000000,0.000000,0.000000,-63.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,41.125596,11.121231,2.000000,0.000000,2.000000,2.000000,5.000000,1.000000,0.000000,0.000000,6.000000,117.500000
50%,10.000000,43.616760,12.388247,19.000000,5.000000,24.500000,31.500000,58.000000,14.000000,0.000000,1.000000,61.000000,611.500000
75%,15.000000,45.434905,13.768136,128.000000,31.250000,163.000000,194.750000,379.250000,65.500000,6.250000,12.000000,400.750000,3084.000000
max,20.000000,46.499335,16.867367,9439.000000,1142.000000,10581.000000,8019.000000,17885.000000,1950.000000,5865.000000,3456.000000,27206.000000,70598.000000

In [146]:
day=regioni.data.copy()
import numpy as np
day=np.array(day)
for i in range(len(day)):
    day[i]=day[i][5:10]
    #Per estrarre mese e giorno prendiamo i caratteri dal 5 al 9 inclusi della feature "data"
#day=pd.Series(day)
#Non vedo l'utilità di renderlo Series, fammi sapere
regioni.insert(0,column='day', value=day)

#Hai evitato di mettere regioni["day"]=day per tenere questa feature al posto 0 vero?

In [147]:
day=province.data.copy()
day=np.array(day)
for i in range(len(day)):
    day[i]=day[i][5:10]
province.insert(0,column='day', value=day)

then we drop the 'data' & 'stato' column which are now useless

In [148]:
regioni=regioni.drop(['data','stato'],axis=1)
province=province.drop(['data','stato'],axis=1)

now we try to create a dataframe/dictionary which combines values of codice_regione with values of denominazione_regione

we know there are 20 regions so it is enough to access the data frame up to the 20th row.

In [149]:
def combine_to_dict(df,upto,f1,f2):
    d12={}
    d21={}
    for i in range(upto):
        one=df.at[i,f1]
        two=df.at[i,f2]
        d12[one]=two
        d21[two]=one
    return d12,d21
d_num_as_key,d_reg_as_key=combine_to_dict(regioni,20,f1='codice_regione',f2='denominazione_regione')

now we will shorten the dataframe so that we store in another dataframe the longitude and latitude coordinates which do not change at all

In [150]:
def combine_to_datfr(df,row,col,upto):
    ind=[row[i] for i in range(upto)]
    dt=[]
    for i in range(upto):
        d=[]
        for feat in col:
            el=df.at[i,feat]
            d.append(el)
        dt.append(d)
    ret=pd.DataFrame(data=dt,index=ind,columns=col)
    return ret

new=combine_to_datfr(regioni,regioni.denominazione_regione,['lat','long'],20)
new
#Hai ucciso i poveri veneti, chi sarà a bere e bestemmiare adesso?

                             lat       long
Abruzzo                42.351222  13.398438
Basilicata             40.639471  15.805148
P.A. Bolzano           46.499335  11.356624
Calabria               38.905976  16.594402
Campania               40.839566  14.250850
Emilia Romagna         44.494367  11.341721
Friuli Venezia Giulia  45.649435  13.768136
Lazio                  41.892770  12.483667
Liguria                44.411493   8.932699
Lombardia              45.466794   9.190347
Marche                 43.616760  13.518875
Molise                 41.557748  14.659161
Piemonte               45.073274   7.680687
Puglia                 41.125596  16.867367
Sardegna               39.215312   9.110616
Sicilia                38.115697  13.362357
Toscana                43.769231  11.255889
P.A. Trento            46.068935  11.121231
Umbria                 43.106758  12.388247
Valle d'Aosta          45.737503   7.320149

In [151]:
def create_geo_loc(df):
    geo_loc=regioni.denominazione_regione.copy()
    geo_loc=pd.DataFrame(data=geo_loc)
    geo_loc["lat"]=regioni.lat.copy()
    geo_loc["long"]=regioni.long.copy()
    num=len(geo_loc)-21
    geo_loc.drop(geo_loc.tail(num).index,inplace=True)
    return geo_loc
create_geo_loc(regioni)

#Mi rendo conto che non è uguale al dataframe che hai creato tu
#Non mi sono avventurato nei tuoi for, però anche così non mi sembra malaccio

    denominazione_regione        lat       long
0                 Abruzzo  42.351222  13.398438
1              Basilicata  40.639471  15.805148
2            P.A. Bolzano  46.499335  11.356624
3                Calabria  38.905976  16.594402
4                Campania  40.839566  14.250850
5          Emilia Romagna  44.494367  11.341721
6   Friuli Venezia Giulia  45.649435  13.768136
7                   Lazio  41.892770  12.483667
8                 Liguria  44.411493   8.932699
9               Lombardia  45.466794   9.190347
10                 Marche  43.616760  13.518875
11                 Molise  41.557748  14.659161
12               Piemonte  45.073274   7.680687
13                 Puglia  41.125596  16.867367
14               Sardegna  39.215312   9.110616
15                Sicilia  38.115697  13.362357
16                Toscana  43.769231  11.255889
17            P.A. Trento  46.068935  11.121231
18                 Umbria  43.106758  12.388247
19          Valle d'Aosta  45.737503   7.320149
20                 Veneto  45.434905  12.338452

In [152]:
#A first analysis

as we can see, we have each day a number of measurements for 21 regions (numbered from 1 to 20)

we can simply extract the number of observations of the civil protection by dividing the shape of the dataframe by 21

In [153]:
n_obs=int(regioni.shape[0]/21)
n_reg=21

In [157]:
def get_regione(df,name,period):
    n_obs=int(regioni.shape[0]/period)
    index=np.arange(1,n_obs+1)

    for i in range(period):
        if df.at[i,'denominazione_regione']==name:
            start=i
            break
    d=regioni[start::period]
    d=d.drop(['denominazione_regione','lat','long','codice_regione'],axis=1)
    ind={}
    a=np.arange(1,n_obs+1)
    b=np.arange(start,regioni.shape[0],step=period)
    for i in range(len(b)):
        ind[b[i]]=a[i]
    d=d.rename(index=ind)
    
    
    return d
Lom=get_regione(regioni,'Lombardia',21)
Ven=get_regione(regioni,'Veneto',21)
#"Day" lo teniamo in inglese con le altre features in italiano?
Lom

,day,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_attualmente_positivi,nuovi_attualmente_positivi,dimessi_guariti,deceduti,totale_casi,tamponi
1,02-24,76,19,95,71,166,166,0,6,172,1463
2,02-25,79,25,104,127,231,65,0,9,240,3700
3,02-26,79,25,104,145,249,18,0,9,258,3208
4,02-27,172,41,213,136,349,100,40,14,403,3320
5,02-28,235,47,282,192,474,125,40,17,531,4835
6,02-29,256,80,336,216,552,78,40,23,615,5723
7,03-01,406,106,512,375,887,335,73,24,984,6879
8,03-02,478,127,605,472,1077,190,139,38,1254,7925
9,03-03,698,167,865,461,1326,249,139,55,1520,9577
10,03-04,877,209,1086,411,1497,171,250,73,1820,12138
11,03-05,1169,244,1413,364,1777,280,376,98,2251,12354
12,03-06,1622,309,1931,77,2008,231,469,135,2612,13556
13,03-07,1661,359,2020,722,2742,734,524,154,3420,15778
14,03-08,2217,399,2616,756,3372,630,550,267,4189,18534
15,03-09,2802,440,3242,1248,4490,1118,646,333,5469,20135
16,03-10,3319,466,3785,642,4427,-63,896,468,5791,21479
17,03-11,3852,560,4412,1351,5763,1336,900,617,7280,25629
18,03-12,4247,605,4852,2044,6896,1133,1085,744,8725,29534
19,03-13,4435,650,5085,2647,7732,836,1198,890,9820,32700
20,03-14,4898,732,5630,3429,9059,1327,1660,966,11685,37138
21,03-15,5500,767,6267,3776,10043,984,2011,1218,13272,40369
22,03-16,6171,823,6994,3867,10861,818,2368,1420,14649,43565
23,03-17,6953,879,7832,4263,12095,1234,2485,1640,16220,46449
24,03-18,7285,924,8209,4057,12266,171,3488,1959,17713,48983
25,03-19,7387,1006,8393,5545,13938,1672,3778,2168,19884,52244
26,03-20,7735,1050,8785,6635,15420,1482,4295,2549,22264,57174
27,03-21,8258,1093,9351,8019,17370,1950,5050,3095,25515,66730
28,03-22,9439,1142,10581,7304,17885,515,5865,3456,27206,70598

In [155]:
def get_regione_2(df, name):
    return df.loc[df['denominazione_regione'] == name]
get_regione_2(regioni, "Lombardia")
#Again, mi rendo conto che non è la stessa cosa, ma volevo provare a sintetizzare

,day,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_attualmente_positivi,nuovi_attualmente_positivi,dimessi_guariti,deceduti,totale_casi,tamponi
9,02-24,3,Lombardia,45.466794,9.190347,76,19,95,71,166,166,0,6,172,1463
30,02-25,3,Lombardia,45.466794,9.190347,79,25,104,127,231,65,0,9,240,3700
51,02-26,3,Lombardia,45.466794,9.190347,79,25,104,145,249,18,0,9,258,3208
72,02-27,3,Lombardia,45.466794,9.190347,172,41,213,136,349,100,40,14,403,3320
93,02-28,3,Lombardia,45.466794,9.190347,235,47,282,192,474,125,40,17,531,4835
114,02-29,3,Lombardia,45.466794,9.190347,256,80,336,216,552,78,40,23,615,5723
135,03-01,3,Lombardia,45.466794,9.190347,406,106,512,375,887,335,73,24,984,6879
156,03-02,3,Lombardia,45.466794,9.190347,478,127,605,472,1077,190,139,38,1254,7925
177,03-03,3,Lombardia,45.466794,9.190347,698,167,865,461,1326,249,139,55,1520,9577
198,03-04,3,Lombardia,45.466794,9.190347,877,209,1086,411,1497,171,250,73,1820,12138
219,03-05,3,Lombardia,45.466794,9.190347,1169,244,1413,364,1777,280,376,98,2251,12354
240,03-06,3,Lombardia,45.466794,9.190347,1622,309,1931,77,2008,231,469,135,2612,13556
261,03-07,3,Lombardia,45.466794,9.190347,1661,359,2020,722,2742,734,524,154,3420,15778
282,03-08,3,Lombardia,45.466794,9.190347,2217,399,2616,756,3372,630,550,267,4189,18534
303,03-09,3,Lombardia,45.466794,9.190347,2802,440,3242,1248,4490,1118,646,333,5469,20135
324,03-10,3,Lombardia,45.466794,9.190347,3319,466,3785,642,4427,-63,896,468,5791,21479
345,03-11,3,Lombardia,45.466794,9.190347,3852,560,4412,1351,5763,1336,900,617,7280,25629
366,03-12,3,Lombardia,45.466794,9.190347,4247,605,4852,2044,6896,1133,1085,744,8725,29534
387,03-13,3,Lombardia,45.466794,9.190347,4435,650,5085,2647,7732,836,1198,890,9820,32700
408,03-14,3,Lombardia,45.466794,9.190347,4898,732,5630,3429,9059,1327,1660,966,11685,37138
429,03-15,3,Lombardia,45.466794,9.190347,5500,767,6267,3776,10043,984,2011,1218,13272,40369
450,03-16,3,Lombardia,45.466794,9.190347,6171,823,6994,3867,10861,818,2368,1420,14649,43565
471,03-17,3,Lombardia,45.466794,9.190347,6953,879,7832,4263,12095,1234,2485,1640,16220,46449
492,03-18,3,Lombardia,45.466794,9.190347,7285,924,8209,4057,12266,171,3488,1959,17713,48983
513,03-19,3,Lombardia,45.466794,9.190347,7387,1006,8393,5545,13938,1672,3778,2168,19884,52244
534,03-20,3,Lombardia,45.466794,9.190347,7735,1050,8785,6635,15420,1482,4295,2549,22264,57174
555,03-21,3,Lombardia,45.466794,9.190347,8258,1093,9351,8019,17370,1950,5050,3095,25515,66730
576,03-22,3,Lombardia,45.466794,9.190347,9439,1142,10581,7304,17885,515,5865,3456,27206,70598

In [156]:
def get_giorno(df, day):
    return df.loc[df['day'] == day]
get_giorno(regioni, "02-24")
#get_giorno(province, "02-24")

,day,codice_regione,denominazione_regione,lat,long,ricoverati_con_sintomi,terapia_intensiva,totale_ospedalizzati,isolamento_domiciliare,totale_attualmente_positivi,nuovi_attualmente_positivi,dimessi_guariti,deceduti,totale_casi,tamponi
0,02-24,13,Abruzzo,42.351222,13.398438,0,0,0,0,0,0,0,0,0,5
1,02-24,17,Basilicata,40.639471,15.805148,0,0,0,0,0,0,0,0,0,0
2,02-24,4,P.A. Bolzano,46.499335,11.356624,0,0,0,0,0,0,0,0,0,1
3,02-24,18,Calabria,38.905976,16.594402,0,0,0,0,0,0,0,0,0,1
4,02-24,15,Campania,40.839566,14.250850,0,0,0,0,0,0,0,0,0,10
5,02-24,8,Emilia Romagna,44.494367,11.341721,10,2,12,6,18,18,0,0,18,148
6,02-24,6,Friuli Venezia Giulia,45.649435,13.768136,0,0,0,0,0,0,0,0,0,58
7,02-24,12,Lazio,41.892770,12.483667,1,1,2,0,2,2,1,0,3,124
8,02-24,7,Liguria,44.411493,8.932699,0,0,0,0,0,0,0,0,0,1
9,02-24,3,Lombardia,45.466794,9.190347,76,19,95,71,166,166,0,6,172,1463
10,02-24,11,Marche,43.616760,13.518875,0,0,0,0,0,0,0,0,0,16
11,02-24,14,Molise,41.557748,14.659161,0,0,0,0,0,0,0,0,0,0
12,02-24,1,Piemonte,45.073274,7.680687,2,0,2,1,3,3,0,0,3,141
13,02-24,16,Puglia,41.125596,16.867367,0,0,0,0,0,0,0,0,0,0
14,02-24,20,Sardegna,39.215312,9.110616,0,0,0,0,0,0,0,0,0,1
15,02-24,19,Sicilia,38.115697,13.362357,0,0,0,0,0,0,0,0,0,5
16,02-24,9,Toscana,43.769231,11.255889,0,0,0,0,0,0,0,0,0,140
17,02-24,4,P.A. Trento,46.068935,11.121231,0,0,0,0,0,0,0,0,0,3
18,02-24,10,Umbria,43.106758,12.388247,0,0,0,0,0,0,0,0,0,0
19,02-24,2,Valle d'Aosta,45.737503,7.320149,0,0,0,0,0,0,0,0,0,7
20,02-24,5,Veneto,45.434905,12.338452,12,4,16,16,32,32,0,1,33,2200